@page "/legume"
@using ProiectDeAnTW.Data.Services
@using ProiectDeAnTW.Models
@inject ProductService ProductService;
<head>
    <style>
         .back-to-menu {
            display: inline-block;
            padding: 10px 20px;
            background-color: #343a40; 
            color: white;
            text-decoration: none;
            border-radius: 5px;
            margin-bottom: 20px;
            font-size: 16px;
            transition: background-color 0.3s ease; 
        }

        .back-to-menu:hover {
            background-color: #344a46;
        }
    </style>
</head>
<body>

    <a href="/Produse" class="back-to-menu">Înapoi la meniu</a> 
    @if (ToateLegumele == null)
    {
        <p>Se încarcă datele...</p>
    }
    else
    {
        <div class="container mt-4">
            <div class="row">
                @foreach (var aliment in ToateLegumele)
                {
                    <div class="col-md-3 col-sm-6 col-12 mb-4">
                        <div class="product-category">
                            <a href="@aliment.ProductPageLink">
                                <img src="@aliment.ImageUrl" alt="@aliment.Name" class="category-image">
                                <h5 class="category-title">@aliment.Name</h5>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }

</body>

@code {
    public List<Aliment> ToateLegumele { get; set; } = new List<Aliment>();

    protected override async Task OnInitializedAsync()
    {
        ToateLegumele = await ProductService.GetLegume();
    }
}