@page "/"


<PageTitle>Home</PageTitle>

<div class="img_home_page">
    <div>
        <img src="images/OpenForBussiness.jpg" style="height:300px;">
    </div>
     <div>
        <img src="images/Paste/SedaniRigati.jpg" >
    </div>
</div>























@* asta e bara de cautare








    <form action="/ro/cautare" class="header__search search_ajax" method="get">
    <input placeholder="Căutare" name="search" type="text" id="search_input" autocomplete="off">
        <button class="btn__search" title="search" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M19.7142 19.7147L15.9857 15.9861M18 11.1433C18 14.9304 14.9299 18.0004 11.1428 18.0004C7.35572 18.0004 4.28568 14.9304 4.28568 11.1433C4.28568 7.35618 7.35572 4.28613 11.1428 4.28613C14.9299 4.28613 18 7.35618 18 11.1433Z" stroke="#ED1C24" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </button>
    <div class="sf_ddown sf_ddown_head" style="display: none;"></div>
</form> *@

























    @*action="/ro/cautare": Specifică unde vor fi trimise datele introduse în formular*@
    @*
        <input>: Creează un câmp în care utilizatorul poate introduce text.
        placeholder="Căutare": Afișează textul "Căutare" în interiorul câmpului până când utilizatorul începe să tasteze.
        name="search": Numele variabilei care va fi transmisă serverului. În URL, va apărea sub forma ?search=valoare.
        type="text": Specifică că este un câmp de text.
        id="search_input": Un identificator unic care poate fi utilizat de JavaScript sau CSS.
        autocomplete="off": Dezactivează sugestiile automate ale browserului
    *@
    @*
        <button>: Creează un buton.
        class="btn__search": Clasă CSS pentru stilizarea butonului.
        title="search": Text afișat când utilizatorul trece cu mouse-ul peste buton.
        type="submit": Indică faptul că acest buton va trimite formularul la server.
    *@


















